# Update these with your Supabase details from your project settings > API
# https://supabase.mattiaswiberg.com
NEXT_PUBLIC_SUPABASE_URL=[INSERT SUPABASE PROJECT URL]
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=[INSERT SUPABASE PROJECT API PUBLISHABLE OR ANON KEY]
POOLER_TENANT_ID=your-pooler-tenant-id
POSTGRES_PASSWORD=your-postgres-password